@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

/*************************************Desktop css*********************************/

/*navbar css start here*/
.logo img {
	width: 12rem;
	padding : 4% 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5%;
  background-color: #161616fc;
}
.logo {
  cursor: pointer;
}
.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.nav__links {
  list-style: none;
  display: flex;
}
.nav__links li {
  padding: 0px 20px;
}
.nav__links li a {
  transition: color 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #c50000;
}
.cta {
    padding: 5px 24px;
    background-color: #c50000;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.cta:hover {
  	background-color: #000000;
    color: #c50000;
}
.menu {
  display: none;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000000d6;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}
.overlay--active {
  width: 100%;
}
.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  color: white;
  transition: color 0.3s ease 0s;
}
.overlay a:hover,
.overlay a:focus {
  color: #c50000;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
/*navbar css ends here*/

/*trailer section css start*/
.fullscreen-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    margin-top: auto;
    margin-bottom: auto;
}
.fullscreen-bg img{
	width: 100%;
}

.fullscreen-bg__video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
/*trailer section css ends*/

/*About section css starts here*/
.about {
	padding: 2% 5%;
	background-color: #0000003d;
}
	/*GAME MODE IMAGES*/
	.game_modes{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3% 0;
	}
	.game_modes img{
		width: 30%;
	}
	/*GALLERY*/
	#gallery{
		padding: 3% 5%;
		background-color: #000000b5;
	}
	.owl-theme .owl-dots {
  		text-align: right;
	}
	.owl-carousel {
	    z-index: 0;
	}
/*About section css ends here*/

/*Support us css starts here*/
#support-us{
	padding: 2% 5%;
	background-image: linear-gradient(90deg, rgba(15,7,0,1) 26%, rgba(15,7,0,0.8463760504201681) 53%, rgba(0,0,0,0.5438550420168067) 78%, rgba(0,212,255,0) 100%), url("https://image.freepik.com/free-vector/online-gaming-illustration_188398-120.jpg");
	background-size: cover;
	background-position: center;
}
#support-us img{
	margin: 0 5%;
}
#donate_btn{
	padding: 1% 3%;
	margin: 0 5%;
    border-radius: 35px;
    background-color: black;
	color: white;
    outline: none;
    font-size: 1.4rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.2s;
}
#donate_btn:hover{
	background-color: #141414;
    color: #f90000;
}
.support-us-data{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
/*Support us css ends here*/

<<<<<<< HEAD
/*perk cards css start here*/
#perks{
	margin: 2rem 0;
}
#perks_section{
	display: none;
}
.perk_card img{
	width: 100%;
	border-radius: 0.4rem;
	grid-row-start: 1;
	grid-row-end: 2;
}
.perk_text{
	grid-row-start: 2;
	grid-row-end: 3;
}
.paynowbtn{
	grid-row-start: 3;
	grid-row-end: 4;	
}
.perk_hr{
	width: 50%;
	margin: 0.4rem auto;
}
.perk_card{
	background-color: #35323b;
	width: 20%;
	margin: 0.4rem;
	color: white;
	border-radius: 0.4rem;
	padding: 1rem;
	text-align: center;
	display: grid;
	grid-auto-rows: 45% 45% 10%;
}
.perk_card strong{
	font-size: 1.5rem;
	margin: 0.2rem 0;
}
.perk_card p{
	font-size: 1rem;
	margin-bottom: 1rem;
}
#perks{
	display: flex;
}
@media only screen and (min-width:768px) and (max-width:1094px) {
	#perks{
		display: flex;
		flex-wrap: wrap;
	}
	.perk_card{
		width: 48%;
		grid-template-columns: 50% 50%;
		grid-template-rows: 80% 25%;
	}
	.perk_card img{
		width: 80%;
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.perk_text{
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.paynowbtn{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;	
	}
}
@media only screen and (max-width:767px) {
	#perks{
		display: flex;
		flex-wrap: wrap;
	}
	.perk_card{
		width: 100%;
		grid-auto-rows: 45% 45% 10%;
	}
	.perk_card img{
		width: 90%;
		height: 100%;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.perk_text{
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.paynowbtn{
		grid-row-start: 3;
		grid-row-end: 4;	
	}
}
/*perk card css ends here/

=======
>>>>>>> parent of 453b6c0 (adding vedio and perk cards)
/*contact us css start here*/
#contact-us{
	padding: 5% 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0000003d;
}
.contact-box{
	display: flex;
    justify-content: center;
}
.left_side_box{
	background-color: #c50000;
	padding: 7% 10%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
.left_side_box h3{
	font-size: 3rem;
	font-weight: 700;
}
.right_side_box{
	background-color: black;
	padding: 10%;
}
.contact-form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.contact-form input{
	width: 20rem;
	color: white;
    background: none;
    border: none;
    border-bottom-color: white;
    border-bottom: ridge;
    border-width: thin;
    font-family: 'MONTSERRAT';
    padding: 2% 0%;
    font-size: 1rem;
    margin-bottom: 1rem;
    outline: none;
}
.fa-facebook,.fa-twitter,.fa-youtube,.fa-instagram{
	color: white;
	font-size: 1.8rem;
    margin: 0 2%;
    transition-duration: 0.2s;
}
.fa-facebook:hover,.fa-twitter:hover,.fa-youtube:hover,.fa-instagram:hover{
	color: black;
}
#sendbtn{
	padding: 2% 8%;
	margin: 10% 0 0 0;
    width: fit-content;
    border-radius: 35px;
    background-color: #c50000;
    color: white;
    outline: none;
    font-size: 1rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.2s;
}
#sendbtn:hover{
	background-color: #250000;
	color: #c50000;
}
/*************************************Tab css*********************************/
@media only screen and (min-width:768px) and (max-width:1024px) {
	/*navbar css start here*/
	.logo img {
		width: 8rem;
    	padding: 4% 0;
	}
	/*navbar css ends here*/

	/*game mode css starts here*/
	.game_modes img{
		width: 30%;
	}
	/*game mode css ends here*/

	/*Support us css starts here*/
	.support-us-data{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#donate_btn{
		padding: 2% 6%;
	    border-radius: 35px;
	    font-size: 1.5rem;
	}
	#support-us img, #donate_btn{
		margin: 3% 5%;
	}
	/*Support us css ends here*/

	/*contact us css starts here*/
	.contact-box {
	    flex-direction: column;
	}
	.socialHandle{
		display: flex;
		align-content: center;
    	margin-top: 2%;
	}
	.contact-form input {
    	width: 30rem;
	}
	/*contact us css ends here*/
}

/*************************************Mobile css*********************************/
@media only screen and (max-width:767px) {
	/*navbar css start here*/
	.logo img {
		width: 6rem;
		padding: 4% 0;
	}
	.cta {
	    padding: 2px 12px;
	    font-size: 0.7rem;
	}
	/*navbar css ends here*/

	/*game mode css starts here*/
	.game_modes {
		flex-direction: column;
	}
	.game_modes img{
		width: 100%;
		padding: 3% 0;
	}
	/*game mode css ends here*/

	/*Support us css starts here*/
	.support-us-data{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#donate_btn{
		padding: 2% 5%;
	    border-radius: 25px;
	    font-size: 0.7rem;
	}
	#support-us img{
		width: 80%;
	}
	#support-us img, #donate_btn{
	margin: 4% 4%;
	}
	/*Support us css ends here*/

	/*contact us css starts here*/
	.contact-box {
	    flex-direction: column;
	}
	.socialHandle{
		display: flex;
		align-content: center;
    	margin-top: 2%;
	}
	.contact-form input {
    	width: 14rem;
	}
	.left_side_box h3 {
    	font-size: 2rem;
	}
	.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
    	font-size: 1.2rem;
	}
	#sendbtn {
    	font-size: 0.8rem;
	}
	/*contact us css ends here*/
}